<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" routerLink="/">Instrument Analysis</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
          <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
            Data
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="import">Import</a>
            <a class="dropdown-item" routerLink="data/edit">Edit</a>
            <a class="dropdown-item" routerLink="data/list">Instrument list</a>
          </div>
        </li>

        <li class="nav-item dropdown">
        <a class="nav-link active dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
          aria-expanded="false">
          Statistics
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="daily-range">Daily range</a>
        <!--
          <a class="dropdown-item" href="#">Yesterdays high or low will be touched</a>
          <a class="dropdown-item" href="#">Gap lower</a>
          <a class="dropdown-item" href="#">Gap higher</a>
          <a class="dropdown-item" href="#">2 consecutive higher closes</a>
          <a class="dropdown-item" href="#">3 consecutive higher closes</a>
          <a class="dropdown-item" href="#">n consecutive higher closes</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#">Buy open sell close</a>
          <a class="dropdown-item" href="#">Custom trade scenario</a>
      -->
        </div>
      </li>

    </ul>

    <p *ngIf="message">Instrument: {{message}}</p>
    <button (click)="newMessage()">Send message</button>

    <!--
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
    -->

<!--
<br />

<div>
  <select id="instrumentSelect">
      <option *ngFor="let instrumentName of instrumentNames"
        (click)="onSelectInstrument(instrumentName)">{{instrumentName}}</option>
  </select>
</div>

<div *ngIf="selectedInstrument && !selectedInstrument.startsWith('Select')">
  <br/><label>Selected: {{selectedInstrument}}</label>
</div>
-->


  </div>

</nav>
<br />
