<div class="containder-fluid">

  <div class="row">
    <div class="col-12">
      <h4>Import instrument data</h4>
      <br/>
      <input type="file" id="files" name="file" (change)="handleFileSelect(input)" #input />
      <br/>
      <p></p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div id="progress_bar">
        <div class="percent"></div>
      </div>
    </div>
  </div>

  <div *ngIf="priceBars && priceBars.length > 0" class="row">
    <div class="col-12">
      <p>Imported Instrument: {{instrumentCode}}</p>
      <p>Imported price bars: {{priceBars.length}}</p>
    </div>
  </div>

</div>
