<!--The content below is only a placeholder and can be replaced.-->
<br />

In app-root component!
<div>
  <ul>
      <li *ngFor="let instrumentName of instrumentNames" 
      [class.selected]="instrumentName === selectedInstrument"
      (click)="onSelectInstrument(instrumentName)">
  </ul>
</div>
<div *ngIf="selectedInstrument">
    <label>name:
      <input [(ngModel)]="selectedInstrument" placeholder="name">
    </label>
  </div>
<div>
  <h2>Statistics</h2>
  <ul>
    <li><a target="#" rel="noopener" href="#">Daily range</a></li>
    <li><a target="#" rel="noopener" href="#">Open closes higher</a></li>
    <li><a target="#" rel="noopener" href="#">2 consecutive higher closes</a></li>
    <li><a target="#" rel="noopener" href="#">3 consecutive higher closes</a></li>
    <li><a target="#" rel="noopener" href="#">n consecutive higher closes</a></li>
    <li><a target="#" rel="noopener" href="#">Buy open sell close</a></li>
  </ul>
</div>
