<!--The content below is only a placeholder and can be replaced.-->
<br />

<div>
  <select id="instrumentSelect">
      <option *ngFor="let instrumentName of instrumentNames" 
        (click)="onSelectInstrument(instrumentName)">{{instrumentName}}</option>
  </select>
</div>

<div *ngIf="selectedInstrument && !selectedInstrument.startsWith('Select')">
  <br/><label>Selected: {{selectedInstrument}}</label>
</div>

<div>
  <h2>Statistics</h2>
  <ul>
    <li><a target="#" rel="noopener" href="#">Daily range</a></li>
    <li><a target="#" rel="noopener" href="#">Open closes higher</a></li>
    <li><a target="#" rel="noopener" href="#">2 consecutive higher closes</a></li>
    <li><a target="#" rel="noopener" href="#">3 consecutive higher closes</a></li>
    <li><a target="#" rel="noopener" href="#">n consecutive higher closes</a></li>
    <li><a target="#" rel="noopener" href="#">Buy open sell close</a></li>
  </ul>
</div>
