<p>Instrument: {{instrumentCode}}</p>
<p>priceBars.length: {{barCount()}}</p>
<p>period: {{period}}</p>
<div *ngIf="barCount() == 0" class="row">
  <p>No price data found!</p>
</div>
<div *ngIf="barCount() > 0 && barCount() < period" class="row">
  <p>Note: Instrument does not have {{period}} price bars. {{barCount()}} will be used instead</p>
</div>
<div *ngIf="barCount() > 0" class="row">
  <div class="col-2">
    <table class="table table-sm">
      <thead>
        <tr>
          <th colspan=2 scope="col">Daily Range</th>
        </tr>
        <tr>
          <th scope="col">{{period}} bars</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>Min Range</td>
          <td>{{minPriceRange() | number: '0.4-4'}}</td>
        </tr>
        <tr>
          <td>Max Range</td>
          <td>{{maxPriceRange() | number: '0.4-4'}}</td>
        </tr>
        <tr>
          <td>Median Range</td>
          <td>{{medianPriceRange() | number: '0.4-4'}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
