<div *ngIf='title' class="border-none">
  <div class="col-12">
    <p class="font-weight-bold">{{title}}</p>
  </div>
</div>
<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text">Query:</span>
  </div>
  <input id="query" value="{{query}}" #textbox required class="form-control" aria-label="Custom query to calculate statistics" (keyup)="onKeyPress($event.target.value)">
  <div class="input-group-append">
    <button id="calculate" (click)="calculate()" class="input-group-button">Calculate</button>
  </div>
</div>
<div class="border-none">
  <div class="row">
    <div class="col-3 text-left">
      <label>Trades: {{queryProcessor.tradeCount | number: '1.'}}</label>
    </div>
    <div class="col-3 text-left">
      <label [ngClass]="{'progress-bar bg-success': queryProcessor.truePercentage() >= 65}">True: {{queryProcessor.truePercentage() | number: '0.2-2'}}%</label>
    </div>
    <div class="col-3 text-left">
      <label [ngClass]="{'progress-bar bg-success': queryProcessor.falsePercentage() >= 65}">False: {{queryProcessor.falsePercentage() | number: '0.2-2'}}%</label>
    </div>
    <div class="col-3 text-left">
      <canvas
        baseChart
        [chartType]="'doughnut'"
        [datasets]="chartData()"
        [labels]="chartLabels"
        [options]="chartOptions"
        [legend]="false">
      </canvas>
    </div>
  </div>
</div>
<div *ngIf="failedToParseMessage" class="alert alert-warning">
  <p>{{failedToParseMessage}}</p>
</div>
